@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Mobile:</span>
        <span>9405759345</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Drop an email at</span>
        <span><a href="mailto:keskarrohan0596@gmail.com">keskarrohan0596@gmail.com</a></span>
    </p>
    
</section>

