@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               Hi, I am Rohan Keskar pursuing my Bachelor's degree from KJ College of Engineering & Management Research,Pune.
               
                
            </p>
        </div>
    </section>
}
<h3>UNDER CONSTRUCTION</h3>
<ol class="round">
   

    <li class="one">
        <h5>A</h5>
        
    </li>

    
</ol>
